<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekiro Guides</title>
    <link rel="stylesheet" href="/assets/backend/css/app2.css">
    <link rel="stylesheet" href="/assets/backend/css/StyleAudioButton.css">
</head>
<body>
    <header>
        <!-- BEGIN Contenedor para la barra de menu horizontal superior -->
        <div>
            <ul>
                <!-- BEGIN Item 1-->
                <li id = "cerrar-sesion">
                    <a id ="cerrar1" href="/auth/logout">Cerrar Sesion</a>
                </li>
                <!-- END Item 1-->
            </ul>
        </div>
        <!-- END Contenedor para la barra de menu horizontal superior -->
    </header>
    <nav>
        {{ menu }}
    </nav>
    <main>
        {{ main }}
    </main>
        <!-- Elemento de audio -->
        <audio id="myAudio" loop>
            <source src="/assets/backend/audio/OST.mp3" type="audio/mpeg">
            Tu navegador no soporta la reproducción de audio.
        </audio>
    
        <!-- Botón para controlar el audio -->
        <div id="audioControl" class="audio-control">no</div>
    
        <!-- Incluir el archivo de script -->
        <script src="/assets/backend/js/audioControl.js"></script>
    <script src="/assets/backend/js/app.js"></script>
</body>
</html>