<form id="formInsertar_objeto">
    <div><label for="nombre">Nombre</label></div>
    <div><input type="text" id="nombre" name="nombre" required></div>
    
    <div><label for="descripcion">Descripción</label></div>
    <div><input type="text" id="descripcion" name="descripcion" required></div>
    
    <div><label for="efecto">Efecto</label></div>
    <div><input type="text" id="efecto" name="efecto" required></div>
    
    <div><label for="precio">Precio</label></div>
    <div><input type="number" id="precio" name="precio" required></div>
    
    <div>
        <input type="submit" name="ingresar" id="ingresar" value="Ingresar">
    </div>
</form>
<div id="mensajeError"></div>
