<ul>
    <li id = "pagina11"><a href="/smartvirtual/src/views/frontend/pages/gatitos.html"><strong>GATITOS</a></strong></li>
    <li id = "pagina22"><a href="/smartvirtual/src/views/frontend/pages/perritos.html"><strong>PERRITOS</a></strong></li>
    <li id = "pagina33"><a href="/smartvirtual/src/views/frontend/pages/conejitos.html"><strong>CONEJITOS</a></strong></li>
    <li id = "pagina44"><a href="/smartvirtual/src/views/frontend/pages/pajaritos.html"><strong>PAJARITOS</a></strong></li>
</ul>