
body, ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('fondo_sekiro.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    color: #fff; 
}

.container {
    width: 8cm;
    margin: 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1000px; 
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

nav ul li {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: flex 2s ease-out, transform 2s ease-out;
}

nav ul li a {
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: #fff;
    width: 110px;
    height: 500px;
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    position: relative;
    overflow: hidden;
    z-index: 2; 
}

nav ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 3px;
    background-color: #ffbb33; 
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.6s ease-out; 
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    transition: background-color 10s ease-out;
    transition: transform 0.5s ease-out;
}

nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.6s ease-out;
    z-index: 1; 
}

nav ul li:hover::before {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease-out;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro con 70% de opacidad */
    z-index: 900; /* Asegura que main tenga menor prioridad que nav */
    border: 2px solid black; /* Agrega un borde de 2px de grosor y color negro */
}


footer {
    width: 100%;
    background-color: #ffbb33;
    color: #1c1c1c;
    padding: 20px 0;
    text-align: center;
}

#pagina01, #pagina02, #pagina03, #pagina04, #pagina05 {
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-out, flex 0.2s ease-out;
    margin: 4px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    background-color: transparent; 
}


#pagina01:hover, #pagina02:hover, #pagina03:hover, #pagina04:hover, #pagina05:hover{
    transform: scale(1.07); 
    flex-grow: 2; 
    z-index: 1; 
    background-color: transparent; 
}


#pagina01:not(:hover), #pagina02:not(:hover), #pagina03:not(:hover), #pagina04:not(:hover), #pagina05:not(:hover) {
    flex-grow: 1; 
    transition: flex 0.4s ease-out, transform 0.4s ease-out; 
}

/* Estilo para el contenedor de las imágenes */
.container-imagenes {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; 
}

#cerrar-sesion {
    background-color: #d6974f; 
    color: #000; 
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none; 
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
}

#cerrar-sesion:hover {
    background-color: #be7b23; 
    transform: scale(1.1);  
}

#cerrar1 {
    color: #000;
    text-decoration: none;  
}

#pagina01 {
    background-image: url('12.jpg');
}

#pagina02 {
    background-image: url('66.jpg');
}

#pagina03 {
    background-image: url('22.jpg');
}

#pagina04 {
    background-image: url('44.jpg');
}
#pagina05
{
    background-image: url('11.jpg');
}
