.audio-control {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent; 
    color: #000;
    color: #ffcc00;
    padding: 10px; 
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.0em; 
    transition: flex 0.4s ease-out, transform 0.4s ease-out; 
}

.audio-control:hover {
    transform: scale(1.2); 
    transition: flex 0.4s ease-out, transform 0.4s ease-out; 
}
